<div class="app-container">
  <app-header></app-header>

  <div class="main">
    <app-sidenav></app-sidenav>
    <div class="content">
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea aperiam
      maxime accusantium mollitia provident! Earum doloremque amet
      necessitatibus perspiciatis reprehenderit placeat vel dolorem officia et!
      Earum veniam accusamus reprehenderit nostrum! Accusamus officia in
      voluptatem rerum consectetur odit voluptate maxime nihil a architecto
      repellat id perspiciatis, qui reprehenderit hic atque eos doloremque nam
      ipsa exercitationem quas natus illum dignissimos. In, iste! Labore
      expedita est commodi aliquam! Maiores adipisci consequatur debitis odit
      alias et minus quas pariatur voluptates repellat blanditiis similique
      nihil laboriosam veniam delectus necessitatibus, vero autem impedit earum
      ut molestiae! Laudantium, nihil quidem, eligendi dolor rem, voluptatum
      provident debitis veritatis maxime ut tenetur. Iure praesentium, dicta
      laboriosam cum quos iste eveniet illum veniam consectetur minus nostrum
      assumenda? Eos, deserunt in? Ex laboriosam, cumque nostrum sequi officiis
      veritatis nam recusandae repudiandae, nihil reiciendis labore fugiat
      necessitatibus voluptas maiores id nemo? Mollitia quidem animi dicta vero.
      Vitae assumenda ratione commodi nemo impedit!Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Ea aperiam maxime accusantium mollitia
      provident! Earum doloremque amet necessitatibus perspiciatis reprehenderit
      placeat vel dolorem officia et! Earum veniam accusamus reprehenderit
      nostrum! Accusamus officia in voluptatem rerum consectetur odit voluptate
      maxime nihil a architecto repellat id perspiciatis, qui reprehenderit hic
      atque eos doloremque nam ipsa exercitationem quas natus illum dignissimos.
      In, iste! Labore expedita est commodi aliquam! Maiores adipisci
      consequatur debitis odit alias et minus quas pariatur voluptates repellat
      blanditiis similique nihil laboriosam veniam delectus necessitatibus, vero
      autem impedit earum ut molestiae! Laudantium, nihil quidem, eligendi dolor
      rem, voluptatum provident debitis veritatis maxime ut tenetur. Iure
      praesentium, dicta laboriosam cum quos iste eveniet illum veniam
      consectetur minus nostrum assumenda? Eos, deserunt in? Ex laboriosam,
      cumque nostrum sequi officiis veritatis nam recusandae repudiandae, nihil
      reiciendis labore fugiat necessitatibus voluptas maiores id nemo? Mollitia
      quidem animi dicta vero. Vitae assumenda ratione commodi nemo
      impedit!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea
      aperiam maxime accusantium mollitia provident! Earum doloremque amet
      necessitatibus perspiciatis reprehenderit placeat vel dolorem officia et!
      Earum veniam accusamus reprehenderit nostrum! Accusamus officia in
      voluptatem rerum consectetur odit voluptate maxime nihil a architecto
      repellat id perspiciatis, qui reprehenderit hic atque eos doloremque nam
      ipsa exercitationem quas natus illum dignissimos. In, iste! Labore
      expedita est commodi aliquam! Maiores adipisci consequatur debitis odit
      alias et minus quas pariatur voluptates repellat blanditiis similique
      nihil laboriosam veniam delectus necessitatibus, vero autem impedit earum
      ut molestiae! Laudantium, nihil quidem, eligendi dolor rem, voluptatum
      provident debitis veritatis maxime ut tenetur. Iure praesentium, dicta
      laboriosam cum quos iste eveniet illum veniam consectetur minus nostrum
      assumenda? Eos, deserunt in? Ex laboriosam, cumque nostrum sequi officiis
      veritatis nam recusandae repudiandae, nihil reiciendis labore fugiat
      necessitatibus voluptas maiores id nemo? Mollitia quidem animi dicta vero.
      Vitae assumenda ratione commodi nemo impedit!Lorem, ipsum dolor sit amet
      consectetur adipisicing elit. Ea aperiam maxime accusantium mollitia
      provident! Earum doloremque amet necessitatibus perspiciatis reprehenderit
      placeat vel dolorem officia et! Earum veniam accusamus reprehenderit
      nostrum! Accusamus officia in voluptatem rerum consectetur odit voluptate
      maxime nihil a architecto repellat id perspiciatis, qui reprehenderit hic
      atque eos doloremque nam ipsa exercitationem quas natus illum dignissimos.
      In, iste! Labore expedita est commodi aliquam! Maiores adipisci
      consequatur debitis odit alias et minus quas pariatur voluptates repellat
      blanditiis similique nihil laboriosam veniam delectus necessitatibus, vero
      autem impedit earum ut molestiae! Laudantium, nihil quidem, eligendi dolor
      rem, voluptatum provident debitis veritatis maxime ut tenetur. Iure
      praesentium, dicta laboriosam cum quos iste eveniet illum veniam
      consectetur minus nostrum assumenda? Eos, deserunt in? Ex laboriosam,
      cumque nostrum sequi officiis veritatis nam recusandae repudiandae, nihil
      reiciendis labore fugiat necessitatibus voluptas maiores id nemo? Mollitia
      quidem animi dicta vero. Vitae assumenda ratione commodi nemo
      impedit!Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ea
      aperiam maxime accusantium mollitia provident! Earum doloremque amet
      necessitatibus perspiciatis reprehenderit placeat vel dolorem officia et!
      Earum veniam accusamus reprehenderit nostrum! Accusamus officia in
      voluptatem rerum consectetur odit voluptate maxime nihil a architecto
      repellat id perspiciatis, qui reprehenderit hic atque eos doloremque nam
      ipsa exercitationem quas natus illum dignissimos. In, iste! Labore
      expedita est commodi aliquam! Maiores adipisci consequatur debitis odit
      alias et minus quas pariatur voluptates repellat blanditiis similique
      nihil laboriosam veniam delectus necessitatibus, vero autem impedit earum
      ut molestiae! Laudantium, nihil quidem, eligendi dolor rem, voluptatum
      provident debitis veritatis maxime ut tenetur. Iure praesentium, dicta
      laboriosam cum quos iste eveniet illum veniam consectetur minus nostrum
      assumenda? Eos, deserunt in? Ex laboriosam, cumque nostrum sequi officiis
      veritatis nam recusandae repudiandae, nihil reiciendis labore fugiat
      necessitatibus voluptas maiores id nemo? Mollitia quidem animi dicta vero.
      Vitae assumenda ratione commodi nemo impedit!
    </div>
  </div>

  <app-footer></app-footer>
</div>
